<nav class="fixed-top m-2">

    

    <div class="dropdown me-1">
        <a class="btn btn-outline-light" data-bs-toggle="collapse" href="#menu" role="button" aria-expanded="false" aria-controls="menu">
            <i class="bi bi-list "></i>
        </a>
        <ul class="collapse" id="menu">
          <li class="btn btn-secondary"><a class="nav-link" href="#aboutme">Acerca de mi</a></li>
          <li class="btn btn-secondary"><a class="nav-link" href="#experience">Experiencia laboral</a></li>
          <li class="btn btn-secondary"><a class="nav-link" href="#formacion">Formacion academica</a></li>
          <li class="btn btn-secondary"><a class="nav-link" href="#skills">Habilidades</a></li>
          <li class="btn btn-secondary"><a class="nav-link" href="#proyectos">Proyectos</a></li>
        </ul>
    </div>
  
</nav>

<router-outlet></router-outlet>