<app-header></app-header>

<!-- ------- seccion donde hablo sobre mi ------- -->

<app-section-component

    [id]="'aboutme'"
    [titulo]="'Acerca de mi'"
    [desc]="'Mi nombre es Liam Tobias Bialy, tengo 20 años y nací en Posadas, Misiones, Argentina. Me dedico al desarrollo web Fullstack (Angular y Java Spring Boot). Estudio la carrera de Licenciatura en sistemas de la información en la Universidad Nacional de Misiones y pertenezco al Equipo Técnico Jurisdiccional del Ministerio de Educación de la provicia de Misiones.'"

></app-section-component>

<!-- ------- seccion donde cuento mi experiencia laboral ------- -->

<app-section-component

    [id]="'experience'"
    [titulo]="'Experiencia laboral'">

    <app-article-component
    
        [titulo]="'ETJ Ministerio de Educación - Área de sistemas y monitoreo'"
        [imagen]="'../../assets/subse.png'"
        [desc]="'En la mencionada, la tarea se revoca a la minuciosa carga de datos de carácter tanto cuantitativo como así también cualitativo. Esto con el fin de mantener un mayor conteo y control de los dispositivos llevados adelante por la subsecretaría de educación. El período en el cual estoy llevando a cabo este trabajo es desde 01/01/2022 hasta el 31/12/2023.'"
    
    ></app-article-component>

</app-section-component>

<!-- ------- seccion donde explico mi formacion academica ------- -->

<app-section-component

    [id]="'formacion'"
    [titulo]="'Formacion academica'"

    ><app-article-component

        [titulo]="'Instituto San Miguel'"
        [desc]="'Durante mí educación de nivel secundario, realicé mis estudios en la institución salesiana San miguel. En la misma, me revoque a la formación en la orientación de Bachiller en Ciencias Sociales y Humanidades, la cual tuvo una duración de 5 años, transitada desde el 2015 hasta el 2019 propiamente. Cierta parte de mi educacion primaria tambien fue en dicho establecimiento.'"
        [imagen]="'../../assets/sanmi-logo.png'"

    ></app-article-component>

</app-section-component>

<!-- ------- seccion donde muestro mis skills ------- -->

<app-section-component

    [titulo]="'Skills'"
    [id]="'skills'"

>

    <div class="skillss">

        <div class="sk1">

            <p>Compromiso</p>

        </div>

        <div class="sk2">

            <p>Flexibilidad</p>

        </div>

        <div class="sk3">

            <p>Adaptacion</p>

        </div>

        <div class="sk4">

            <p>Liderazgo</p>

        </div>

        <div class="sk5">

            <p>Trabajo en Equipo</p>

        </div>

        <div class="sk6">

            <p>Procrastinacion</p>

        </div>

    </div>

</app-section-component>

<!-- ------- seccion donde muestro mis proyectos ------- -->

<app-section-component

    [titulo]="'Proyectos'"
    [id]="'proyectos'"
    class="proyectos"

>

    <app-proyect-component
    
        [linkcustom]="'https://gamecito.netlify.app/'"
        [subtitulo]="'Gamecito'"
        [desc]="'Un juego programado en javascript plano. Lo desarrollé mientras aprendia dicho lenguaje'"
        [dinamicClass]="'gamecito'"
    
    ></app-proyect-component>

</app-section-component>

<router-outlet></router-outlet>